<div class="container" ng-controller="AddCampaignController">
	<div class="col-xs-12 text-center">
		<h1>Add A Campaign</h1>
	</div>
	<div class="col-xs-offset-1 col-xs-10">
		<table class="table">
			<thead>
				<tr>
					<th>Company Name</th>
					<th>Piece Name</th>
					<th>Frequency</th>
					<th>Day</th>
					<th>Action</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input class="form-control" ng-model="item.company"></td>
					<td><input class="form-control" ng-model="item.name"></td>
					<td><select class="form-control" ng-model="item.frequency">
						<option>Daily</option>
						<option>Weekly</option>
						<option>Bi-Weekly</option>
						<option>Monthly</option>
						<option>Quarterly</option>
						<option>Yearly</option>
					</select></td>
					<td><select class="form-control" ng-model="item.day">
						<option>Monday</option>
						<option>Tuesday</option>
						<option>Wednesday</option>
						<option>Thursday</option>
						<option>Friday</option>
						<option>Every Day</option>
					</select></td>
					<td><button class="btn btn-primary" ng-click="addCampaign()">Add Campaign</button></td>
				</tr>
				<tr ng-repeat="item in campaign">
					<td>{{item.company}}</td>
					<td>{{item.name}}</td>
					<td>{{item.frequency}}</td>
					<td>{{item.day}}</td>
					
				</tr>
			</tbody>
		</table>
	</div>
</div>